{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h1>Faça aqui o Cadastro de sua Conta</h1>
    <form method="POST" action="">
        <legend>Cadastrar Conta</legend>
        <fieldset>
            <div class="border border-success p-2 mb-2 border-opacity-25">
                <div class="row g-3 align-items-center p-1">
                  <div class="row-auto">
                    {{ form_criar_conta.user.label }}
                  </div>
                  <div class="row-auto mt-1">
                    {{ form_criar_conta.user }}
                  </div>
                  <div class="row-auto mt-0">
                    <span class="form-text">
                      Nome de usuário deve ter entre 4-16 caracteres.
                    </span>
                  </div>
                </div>
                <div class="row g-3 align-items-center p-1">
                  <div class="row-auto">
                    {{ form_criar_conta.email.label }}
                  </div>
                  <div class="row-auto mt-1">
                    {{ form_criar_conta.email }}
                  </div>
                  <div class="row-auto mt-0">
                    <span class="form-text">
                      Digite seu email.
                    </span>
                  </div>
                </div>
                <div class="row g-3 align-items-center p-1">
                  <div class="row-auto">
                    {{ form_criar_conta.senha.label }}
                  </div>
                  <div class="row-auto mt-1">
                    {{ form_criar_conta.senha }}
                  </div>
                  <div class="row-auto mt-0">
                    <span class="form-text">
                      A senha deve ter entre 6-20 caracteres.
                    </span>
                  </div>
                </div>
                <div class="row g-3 align-items-center p-1">
                  <div class="row-auto">
                    {{ form_criar_conta.conf_senha.label }}
                  </div>
                  <div class="row-auto mt-1">
                    {{ form_criar_conta.conf_senha }}
                  </div>
                  <div class="row-auto mt-0 mb-2">
                    <span class="form-text">
                      A senha de confirmação deve ser igual a senha acima.
                    </span>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary btn-lg">
                    {{ form_criar_conta.btn_submit_cadastro }}
                </button>
            </div>
        </fieldset>
    </form>
</div>

{% endblock %}