{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='perfil.css') }}">
{% endblock %}

{% block body %}
    <div class="container mt-5 pt-5">
        <div class="row">
            <div class="col-6">
                <div class="card p-3 py-4" style="width: 600px; height: 700px;">
                    <div class="text-center">
                        <img src="{{ foto_perfil }}" width="100" class="rounded-circle">
                        <h3 class="mt-2">{{ current_user.user }}</h3>
                        <div class="row mt-3 mb-3">
                          <div class="col-md-4">
                            <h5>Posts</h5>
                            <span class="num">10</span>
                          </div>
                          <div class="col-md-4">
                          <h5>Projetos</h5>
                            <span class="num">10</span>
                          </div>
                          <div class="col-md-4">
                          <h5>Comentários</h5>
                            <span class="num">10</span>
                          </div>
                        </div>
                        <hr class="line">
                        <small class="mt-4">{{ current_user.bio }}</small>
                        <div class="profile mt-5">
                            <a href="{{ url_for('meuperfil') }}"><button class="profile_button px-5">Ver Perfil</button></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="container text-center">
                    <div class="row mt-4 p-5">
                        <div class="col-2"></div>
                        <div class="col-8" >
                            <form method="POST" action="">
                                {{ form_editar_perfil.csrf_token }}
                                <fieldset>
                                    <div style="text-align:left;" class="border border-success p-2 mb-2 pt-3 border-opacity-25">
                                        <div class="row g-3 align-items-center p-1">
                                          <div style="font-size: 20px;" class="row-auto pt-2">
                                            {{ form_editar_perfil.user.label(class="form-control-label") }}
                                          </div>
                                          <div class="row-auto mt-1">
                                              {% if form_editar_perfil.user.errors %}
                                                {{ form_editar_perfil.user(class="form-control is-invalid") }}
                                                <div class="invalid-feedback">
                                                    {% for erro in form_editar_perfil.user.errors %}
                                                        {{ erro }}
                                                    {% endfor %}
                                                </div>
                                              {% else %}
                                                {{ form_editar_perfil.user(class="form-control") }}
                                              {% endif %}
                                          </div>
                                          <div class="row-auto mt-0">
                                            <span class="form-text">
                                              Nome de usuário deve ter entre 4-16 caracteres.
                                            </span>
                                          </div>
                                        </div>
                                        <div class="row g-3 align-items-center p-1">
                                          <div style="font-size: 20px;" class="row-auto pt-2">
                                              {{ form_editar_perfil.email.label(class="form-control-label") }}
                                          </div>
                                          <div class="row-auto mt-1">
                                              {% if form_editar_perfil.email.errors %}
                                                {{ form_editar_perfil.email(class="form-control is-invalid") }}
                                                <div class="invalid-feedback">
                                                    {% for erro in form_editar_perfil.email.errors %}
                                                        {{ erro }}
                                                    {% endfor %}
                                                </div>
                                              {% else %}
                                                {{ form_editar_perfil.email(class="form-control") }}
                                              {% endif %}
                                          </div>
                                          <div class="row-auto mt-0">
                                            <span class="form-text">
                                              Digite seu email.
                                            </span>
                                          </div>
                                        </div>
                                        <div class="form-group">
                                            {{ form_editar_perfil.foto_perfil.label }}
                                            {{ form_editar_perfil.foto_perfil(class="form-control-file") }}
                                            {% if foto_perfil.errors %}
                                                {% for erro in form_editar_perfil.foto_perfil.errors %}
                                                    <span class="text-danger">{{ erro }}</span><br>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        <div style="height: 100px; padding-top: 10px;">
                                            {{ form_editar_perfil.btn_submit_editar(class="btn btn-primary", style="font-size: 30px; margin-left: 300px; margin-bottom: 20px; ") }}
                                        </div>
                                    </div>

                                </fieldset>
                            </form>
                        </div>
                        <div class="col-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
