{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block body %}

<div class="container text-center">
    <h1 style="font-size: 70px; text-align: center;" class="mt-5 pt-5">Faça aqui o Login no Fórum</h1>
    <div class="row mt-4 p-5">
        <div class="col-2"></div>
        <div class="col-8" style="width: 900px; margin-left: 13.5%;">
            <form method="POST" action="">
                {{ form_login.csrf_token }}
                <legend style="font-size: 50px; margin-top:40px; margin-bottom: 20px;"><b>Logar na Conta</b></legend>
                <fieldset>
                    <div style="text-align:left;" class="border border-success p-2 mb-2 pt-3 border-opacity-25">
                        <div class="row g-3 align-items-center p-1">
                          <div style="font-size: 20px;" class="row-auto">
                              {{ form_login.email.label(class="form-control-label") }}
                          </div>
                          <div class="row-auto mt-1">
                              {% if form_login.email.errors %}
                                {{ form_login.email(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for erro in form_login.email.errors %}
                                        {{ erro }}
                                    {% endfor %}
                                </div>
                              {% else %}
                                {{ form_login.email(class="form-control") }}
                              {% endif %}
                          </div>
                          <div class="row-auto mt-0">
                            <span class="form-text">
                              Digite seu email.
                            </span>
                          </div>
                        </div>
                        <div style="font-size: 20px;" class="row g-3 align-items-center p-1 pt-2">
                          <div class="row-auto">
                            {{ form_login.senha.label(class="form-control-label") }}
                          </div>
                          <div class="row-auto mt-1">
                              {% if form_login.senha.errors %}
                                {{ form_login.senha(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for erro in form_login.senha.errors %}
                                        {{ erro }}
                                    {% endfor %}
                                </div>
                              {% else %}
                                {{ form_login.senha(class="form-control") }}
                              {% endif %}
                          </div>
                          <div class="row-auto mt-0">
                            <span class="form-text" style="font-size: 14px;">
                              A senha deve ter entre 6-20 caracteres.
                            </span>
                          </div>
                          <div class="row-auto">
                            {{ form_login.check_lembrar.label(class="form-control-label", style="color: #0000ab") }}
                              {{ form_login.check_lembrar }}
                          </div>
                        </div>
                        {% if usuario %}
                            <form method="POST" action="" enctype="multipart/form-data">
                                {{ form_verificar.csrf_token }}
                                <div class="row g-3 align-items-center p-1">
                                  <div style="font-size: 20px;" class="row-auto pt-0">
                                    {{ form_verificar.codigo.label(class="form-control-label") }}
                                  </div>
                                    {% if form_verificar.codigo.errors %}
                                        {{ form_verificar.codigo(class="form-control is-invalid") }}
                                        <div class="invalid-feedback">
                                            {% for erro in form_verificar.codigo.errors %}
                                                {{ erro }}
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form_verificar.codigo(class="form-control m-1") }}
                                    {% endif %}
                                <div class="container d-flex justify-content-center" style="height: 80px; padding-top: 10px;">
                                    {{ form_verificar.btn_submit_verificar(class="profile_button", style="font-size: 17px; margin-top: 20px; width: 150px; height: 45px;") }}
                                </div>
                                </div>
                            </form>
                        {% else %}
                            <div style="height: 100px; margin-top: 15px; padding-top: 10px; padding-left: 360px;">
                                {{ form_login.btn_submit_login(class="btn btn-primary", style="font-size: 30px; width: 180px;") }}
                            </div>
                        {% endif %}

                    </div>
                </fieldset>
            </form>
        </div>
        <div class="col-2"></div>
    </div>
</div>

{% endblock %}