{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block body %}

<div class="container text-center">
    <h1 style="font-size: 70px; text-align: center;" class="mt-5 pt-5">Faça aqui o Login no Fórum</h1>
    <div class="row mt-4 p-5">
        <div class="col-2"></div>
        <div class="col-8" style="width: 900px; margin-left: 13.5%;">
            <form method="POST" action="">
                {{ form.csrf_token }}
                <legend style="font-size: 50px; margin-top:40px; margin-bottom: 20px;"><b>Logar na Conta</b></legend>
                <fieldset>
                    <div style="text-align:left;" class="border border-success p-2 mb-2 pt-3 border-opacity-25">
                        <div style="font-size: 20px;" class="row g-3 align-items-center p-1 pt-2">
                          <div class="row-auto">
                            {{ form.senha.label(class="form-control-label") }}
                          </div>
                          <div class="row-auto mt-1">
                              {% if form.senha.errors %}
                                {{ form.senha(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for erro in form.senha.errors %}
                                        {{ erro }}
                                    {% endfor %}
                                </div>
                              {% else %}
                                {{ form.senha(class="form-control") }}
                              {% endif %}
                          </div>
                          <div class="row-auto mt-0">
                            <span class="form-text" style="font-size: 14px;">
                              A senha deve ter entre 6-20 caracteres.
                            </span>
                          </div>
                          <div class="row-auto">
                            {{ form.check_lembrar.label(class="form-control-label", style="color: #0000ab") }}
                              {{ form.check_lembrar }}
                          </div>
                        </div>
                        <div style="height: 100px; margin-top: 15px; padding-top: 10px; padding-left: 360px;">
                            {{ form.btn_submit_senha(class="btn btn-primary", style="font-size: 30px; width: 180px;") }}
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="col-2"></div>
    </div>
</div>

{% endblock %}
