{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='perfil.css') }}">
{% endblock %}

{% block body %}
    <div class="container d-flex justify-content-center">
    	<div class="card p-3 py-4">
        	<div class="text-center">
				<img src="{{ foto_perfil }}" width="100" class="rounded-circle">
				<h3 class="mt-2">{{ current_user.user }}</h3>
	<!--			<span class="mt-1 clearfix">Android Developer</span>-->

				<div class="row mt-3 mb-3">

				  <div class="col-md-4">
					<h5>Posts</h5>
					<span class="num">10</span>
				  </div>
				  <div class="col-md-4">
				  <h5>Projetos</h5>
					<span class="num">10</span>
				  </div>
				  <div class="col-md-4">
				  <h5>Comentários</h5>
					<span class="num">10</span>
				  </div>

				</div>

				<hr class="line">

					<small class="mt-4">{{ current_user.bio }}</small>
	<!--              <div class="social-buttons mt-5">-->
	<!--			   <button class="neo-button"><i class="fa fa-facebook fa-1x"></i> </button>-->
	<!--			   <button class="neo-button"><i class="fa fa-linkedin fa-1x"></i></button>-->
	<!--			   <button class="neo-button"><i class="fa fa-google fa-1x"></i> </button>-->
	<!--			   <button class="neo-button"><i class="fa fa-youtube fa-1x"></i> </button>-->
	<!--			   <button class="neo-button"><i class="fa fa-twitter fa-1x"></i> </button>-->
	<!--			  </div>-->
					<div class="profile mt-5">
						<a href="{{ url_for('editar_perfil') }}"><button class="profile_button px-5">Editar Perfil</button></a>
					</div>
        	</div>
    	</div>
	</div>
	{% block form_editar_perfil %}

	{% endblock %}
{% endblock %}